header {
    text-align: center;
}

#title {
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
}

#description {
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

#survey-form {
    line-height: 1.25;
    max-width: 550px;
    margin: auto;
    padding: 35px;
    border: 1px solid black;
    border-radius: 10px;
}

.input-fields {
    font: inherit;
    width: 80%;
    vertical-align: middle;
    padding: 4px;
}

#submit {
    cursor: pointer;
    font: inherit;
    padding: 8px;
    width: 80%;
}