body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--color-white);
    line-height: 1.4;
    font-size: 1rem;
    text-align: center;
}
form {
    display: block;
    margin-top: 0em;
   
}